<form class="uk-form-stacked uk-margin-small-bottom">
  <div class="uk-margin">
    <div class="uk-inline uk-width-expand">
      <div class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></div>
      <input class="uk-input" type="text" placeholder="Quick Weapon Fill" />
    </div>
  </div>
</form>
<form class="uk-form-stacked">
  <legend class="uk-legend uk-margin-small-bottom">Add new weapon</legend>
  <div class="uk-margin">
    <label class="uk-form-label" for="weapon-name">Name</label>
    <div class="uk-form-controls">
      <input
        class="uk-input"
        id="weapon-name"
        type="text"
        placeholder="Enter weapon name"
      />
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="weapon-acc">Weapon Accuracy</label>
    <div class="uk-form-controls">
      <input
        class="uk-input"
        id="weapon-acc"
        type="number"
        placeholder="Enter weapon accuracy"
      />
    </div>
  </div>
  <div class="uk-column-1-3 uk-margin">
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-select">Type</label>
      <div class="uk-form-controls">
        <select class="uk-select" id="form-stacked-select">
          <option>Pistol</option>
          <option>Rifle</option>
        </select>
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-select"
        >concealability</label
      >
      <div class="uk-form-controls">
        <select class="uk-select" id="form-stacked-select">
          <option>J</option>
          <option>P</option>
        </select>
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-select"
        >availability</label
      >
      <div class="uk-form-controls">
        <select class="uk-select" id="form-stacked-select">
          <option>E</option>
          <option>P</option>
        </select>
      </div>
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="weapon-damage">Damage</label>
    <div class="uk-form-controls">
      <input
        class="uk-input"
        id="weapon-damage"
        type="number"
        placeholder="Enter weapon damage"
      />
    </div>
  </div>
  <div class="uk-column-1-3 uk-margin">
    <div class="uk-margin ">
      <label class="uk-form-label" for="weapon-damage">Number of Shots</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="weapon-damage" type="number" />
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="weapon-damage">ROF</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="weapon-damage" type="number" />
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="weapon-damage">Range</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="weapon-damage" type="number" />
      </div>
    </div>
  </div>
  <div class="uk-margin">
    <label class="uk-form-label" for="weapon-damage">Cost</label>
    <div class="uk-form-controls">
      <input class="uk-input" id="weapon-damage" type="number" />
    </div>
  </div>
</form>
